.colorIcon i {
  color: #fff; /* Apple color */
  margin-right: 8px;
  font-size: 20px;
  opacity: 1;
}
.bgDetailsGamesItem {
  
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #130e0ec8;
}
.dataBarth {
  color: black;
  background-color: #fff;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 13px;
}

.progressGreen {
  background-image: linear-gradient(180deg, #b4ec51, #429321);
}
.progressGreen:hover {
  box-shadow: 0 0 10px 0 #fff;
  border: solid 1px #fff;
}
.progressGradient {
  background-image: linear-gradient(0deg, #4354b9, #649bff);
}
.progressGradient:hover {
  box-shadow: 0 0 10px 0 #fff;
  border: solid 1px #fff;
}
.progressOreg {
  background-image: linear-gradient(180deg, #fad961, #f76b1c);
}
.progressOreg:hover {
  box-shadow: 0 0 10px 0 #fff;
  border: solid 1px #fff;
}
.progressRead {
  background-image: linear-gradient(180deg, #ff5764, #f11a2a);
}
.progressRead:hover {
  box-shadow: 10px 10px 10px 10px #fff;
  border: solid 1px #fff;
}

.exclamation {
  font-size: 30px;
  margin-right: 20px;
  color: #f6f6f6;
}
.thumbs {
  font-size: 30px;
  margin-right: 20px;
  color: #e95702;
}
.ListItem
{

  font-size: 13px;
  padding: 5px;
}
.ListItem:hover
{
  border: solid 1px #ffffff7a;
  border-radius: 5px;
}
.ListItem span
{
 padding-right: 5px;
}
.ListItem strong
{
 padding-right: 5px;
 opacity: 0.5;
}
.circleGreen {
  font-size: 10px !important;
  background: linear-gradient(180deg, #b4ec51, #429321);
  border-radius: 50%;
  margin-left: 5px;
  color: transparent;
}
.circleRead {
  font-size: 10px !important;
  background: linear-gradient(180deg, #ff5764, #f11a2a);
  border-radius: 50%;
  color: transparent;margin-left: 5px;
}
.circleOrg {
  font-size: 10px !important;
  background: linear-gradient(180deg, #fad961, #f76b1c);
  border-radius: 50%;
  color: transparent;margin-left: 5px;
}
.circleMove {
  font-size: 10px !important;
  background: linear-gradient(180deg, #4354b9, #649bff);
  border-radius: 50%;
  color: transparent;margin-left: 5px;
}
